.BasketBody{
  margin:0 auto;
  margin-top: 125px;
  width: 90%;
  height: 96%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.basketItem{
  width: 90%;
  height: 96%;
  background-color: white;
}
.Shopping-section{
  background-color: white;
}

